@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: open sans;
    font-weight: 600;
    letter-spacing: 0;

}

section{
    padding: 50px;
}
.btn{
    color: white;
    background-color: #2563EB;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

/* navigation part */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #575757;
}

/* Banner part */
.banner{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 550px;
    background: linear-gradient(to right, rgba(0, 0, 0, 01) 0%, rgba(0, 0, 0, 0) 100%),
    url(./assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.banner h1{
    font-weight: 700;
    font-size: 50px;
}
.banner p{
    font-weight: 200;
    margin-top: 6px;
}
.banner .btn{
    padding: 13px 25px;
}

/* speakers  */
.speakers h2{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.speakers_identity{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 20px;
}
.speakers_identity .card{
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.251);
    border-radius: 5px;
}
.speakers_identity img{
    width: 100%;
    border-radius: 5px;
}
.speakers_identity p, h3, span{
    margin-left: 20px;
}
.speakers_identity .designation{
    color: blue;
    font-size: 10px;
}
.speakers_identity .company{
    color: rgba(128, 128, 128, 0.822);
    font-size: 10px;
}

/* pricing section  */
.pricing> h2{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
.pricing> p{
    text-align: center;
    color: rgba(128, 128, 128, 0.724);
    font-weight: 400;
    margin-bottom: 50px;
}

.pricing_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.pricing_card{
    border: 1px solid rgba(128, 128, 128, 0.178);
    border-radius: 10px;
    padding: 20px 40px;
}
.pricing_card> p{
    font-weight: 400;
    color: rgba(128, 128, 128, 0.847);
}
.pricing_card> h3{
    font-weight: 800;
    font-size: 40px;
    text-align: start;
    margin: 0;
}
.pricing_card> span{
    margin: 0;
    font-weight: 200;
    color: rgba(128, 128, 128, 0.852);
}
.border{
    margin-top: 30px;
    border: 0.5px solid rgba(128, 128, 128, 0.158);
}
.pricing_card ul{
    font-weight: 300;
    font-size: 14px;
    line-height: 33px;
    margin: 10px 0;
    margin-bottom: 20px;
}
.pricing_card li{
    font-weight: 400;
}
.pricing_card ul li::marker{
    color: blue;
}
.pricing_card button{
    width: 100%;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
}
.pricing_card button:hover{
    background-color: rgba(0, 0, 255, 0.685) ;
    color: white;
    transition: 0.5s;
}
.card2{
    background-color: #0D1B2A;
    color: white;
}
.card2> p{
    color: #2564ebca;
}
.card2 button{
    color: white;
    background-color: blue;
}
.card2 button:hover{
    color: blue;
    background-color: white;
}

/* footer  */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1B2A;
    color: white;
    padding: 30px 50px;
}

.logo img{
    padding: 0;
    margin: 0;
}
.logo p{
    font-weight: 200;
    font-size: 13px;
    color:#aea6a6;
}
.policy{
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 13px;
    color:#aea6a6;
}
.fa-linkedin-in, .fa-square-facebook{
    color: blue;
}
